* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding: 150px;
    background-color: #16a085;
}

.container {
    width: 1255px;
    margin: 0 auto;
    padding: 0 20px;
}

.link{
    width: 28px;
    height: 28px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50%;

}
.link:hover{
    box-shadow: 1px 1px 0px 6px #E3E3E3; ;
}

.site-section {
    padding: 50px 70px;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    background-color: #ffffff;

    border-radius: 6px;
    background-image: url("../images/bicycle.png");
    background-repeat: no-repeat;
    background-size: 800px 580px;
    background-position: calc(50%) calc(50% + 216px);
}

.titlebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-transform: capitalize;

    color: #000000;
}

.text-first {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 48px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.content__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;

    color: #000000;

    opacity: 0.7;
}

.content__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: right;

    color: #000000;

}